#portal-logo img {
  margin: 1rem;
  width: 400px;
}

body {
  font-family: 'Open sans', sans-serif;
  line-height: 1.5em;
}

h1, h2, h3 {
  margin-top: 60px !important;
  color: #f00 !important;
  background-image: url("../theme_images/meow_party.gif");
  background-repeat: no-repeat !important;
  padding-left: 130px;
  padding-top: 75px;
}



